%p#notice= notice

%p
  %b Amount:
  = @contract.amount
%p
  %b Start date:
  = @contract.start_date
%p
  %b End date:
  = @contract.end_date
%p
  %b Owner:
  = @contract.owner

= link_to 'Edit', edit_contract_path(@contract)
\|
= link_to 'Back', contracts_path
