= simple_form_for(@camp) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :bitcoin_address
    = f.input :start_date
    = f.input :end_date

  .form-actions
    = f.button :submit
