- unless @campaigns.nil?
  .ui.items
    - @campaigns.each do |c|
      .item.campaign
        .content
          .name= c.name
          %p.description= c.description
          .ui.striped.progress
            .bar{style:'width: 30%'}
          %p= "Raise ... of B#{c.amount}"

        .ui.button.add_pledge.red{"data-bitcoin_address"=> c.bitcoin_address}= 'Fund this project'
